@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

/*
popup body is regulated by this css body...
anything above 800px and 600px width is ignored...
*/



/***************************************************************
**************************** Theme *****************************
****************************************************************/
:root {
  --main-color: #a5ffd6;
  --accent-color: #6d6875;
  --text-color: #ecf0f1;
  --alternative-text-color: #a0aec0;
  --background-color: #4a4e69;
  --text-size: 15px;
  --icon-size: 27px;
  --button-height:35px;
  --button-radius: 15px;
  /* #9ba6d1 */
}

html { overflow-y: scroll }

/* .lightTheme,
.lightTheme .ts_theme {
  --main-color: #95a5a6;
  --accent-color: #7f8c8d;
  --text-color: #ecf0f1;
  --background-color: #FFF;
  --background-color: aliceblue;
  --text-size: 15px;
  --icon-size: 27px;
  --button-height:35px;
}

.darkTheme,
.darkTheme .ts_theme {
  --main-color: #566B7A;
  --accent-color: #3B4A54;
  --text-color: #A1B1B3;
  --background-color: #4D606C;
  --text-size: 15px;
  --icon-size: 27px;
  --button-height: 40px;
} */

html, body {
  background: var(--background-color);
  font-size: var(--text-size);
  height: 100%;
  @apply bg-gray-900
}


body {
  align-items: center;
  display: flex;
  flex-grow: 2;
  flex-basis: 0%;
  color: #f8edeb;
  /* padding: 0 5px; */
  font-size: 30px;
  /* color: tomato; */
  font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

#app{
  width: 100vw;
  max-width: 100%;
}

.card {
  overflow: scroll;
  width: -webkit-fill-available;
  max-width: -webkit-fill-available;
  height: -webkit-fill-available;
  max-height: -webkit-fill-available;
}

.windowColumn{
  margin: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 2.8em;
}

.windowTitle {
  align-self: flex-end;
  font-size: small;
  margin-bottom: -10px;
  margin-right: 5px;
  background: var(--background-color);
  padding: 1px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.windowStrip {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5em;
}

.resizeThis {
  resize: both;
  max-height: 400px;
  margin-right: 10px;
  overflow:scroll;
}

.tab {
  user-select: none;
  padding: 4px;
  margin: 0 0 1px 0;
  font-size: 1em;
  background:var(--accent-color);
  line-height: normal;
  border-radius: 2px;
}
.tab div {
  background: var(--accent-color)
}

.tab.isDragging {
  background: var(--main-color);
}

/* why does calling it topper is making me laugh so much 🤣
 here we go put you little topper this wrapper 🤣 */
.wrapperTopper {
    /* background: var(--background-color);
    height: 10px;
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
    float: left;
    margin-left: 3px;
    width: 98%;
    align-self: center;
    border-radius: 1px; */
    background: var(--background-color);
    height: 5px;
    margin-top: 8px;
    margin-bottom: -10px;
    position: relative;
    float: left;
    margin-left: 3px;
    /* margin-right: inherit; */
    width: 98%;
    align-self: center;
    border-radius: 1px;
}
.wrapper{
  @apply border-solid border-l-4 rounded-lg;
  /* padding: 2px;
  width: 100%;
  margin-bottom: 5px;
  background:var(--background-color);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-color: var(--main-color);
  border-radius: 0.15em;
  padding-top: 5px;
  margin-top: 5px; */

  border-radius: 0.5rem;
  border-left-width: 4px;
  border-style: solid;
  padding: 2px;
  width: 100%;
  margin-bottom: 10px;
  background: var(--background-color);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-color: var(--main-color);
  border-radius: 0.15em;
  padding-top: 5px;
  padding-bottom: 4px;
  margin-top: 5px;

  padding-right: 5px;  /* */
}

.wrapper.isDragging {
  background: var(--main-color);
}

.appHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: baseline;
    align-items: baseline;

    position: fixed;
    /* background: var(--background-color); */
    width: 100%;
    z-index: 100;
}

.appWrapper {
  display: flex;
  flex-direction: column;
}