{
  "presets": [
      ["@babel/preset-env", {
        "modules": false,
        "useBuiltIns": "usage",
        "targets": {
            "esmodules": true
        }
      }]
  ],
  "plugins": [
      "@babel/plugin-transform-runtime",
      "@babel/syntax-object-rest-spread",
  ]
}

