.sidebar {
  display: flex;
  margin-left: 8px;
  flex-direction: column;
  width: fit-content;
  height: 98.3vh;
  margin: 1vh 8px;
  @apply bg-red-900 rounded-lg flex flex-col ;
}

.sidebarButton {
  align-items: center;
  justify-content: center;
  /* left: 5px; */
  @apply rounded w-12 h-12 flex text-center content-center border-double border-4 text-orange-700 border-orange-700 bg-red-900;
}

.sidebarButton:hover {
  @apply bg-teal-600;
}

.sidebarButton.add{
  margin-top: auto;
}